/*Estilos de episodeDescription*/

/*Se agregan los estilos para dividir la pantalla*/
.parent {
    display: flex;
    padding-top: 3rem;
}

.child {
    width: 65%;
}
.child1{
    width: 30%;
    align-items: center;
    text-align: center;
}

/*Se cierran los estilos para dividir la pantalla*/

.title{
    font-size: 1.5em;
    margin-bottom: 1.5rem;
}

.p3 {
    color: rgb(149, 149, 149);;
}

.form-check{
    display: flex;
    margin-top: 1.5rem;
}

.buttonAdd {
    padding: 20px 20px 20px 0;
    display: flex;
    display: inline-block;
    text-align: start;
    font-weight: bold;
}

.btn1 {
    padding: 10px 32px;
    position: relative;
    margin-left: 6px;
    background-color: black;
    color: #f47521;
    border: 3px solid #f47521;
}

.btn1:hover{
    border: 3px solid rgb(255, 148, 77);
    color: rgb(255, 148, 77);
}

.btn2 {
    position: relative;
    padding: 16px 32px;
    background-color: black;
    color: gray;
    border: none;
}

.btn2:hover{
    background: rgb(35, 37, 43);
    color: rgb(219, 226, 221);
}

.description {
    text-align: left;
    line-height: 1.5em;
}

.buttonGender {
    padding: 20px 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    margin-bottom: 1rem;
}

.btn3 {
    padding: 8px 12px;
    margin-left: 0.5em;
    background-color: #192e38;
    color: white;
    border: none;

}

.btn3:hover {
    background-color: #324953;
}

.btn4 {
    padding: 16px 73px;
    position: relative;
    margin-left: 6px;
    background-color: #f47521;
    font-weight: bold;
}

.btn4:hover{
    background-color: rgb(255, 148, 77);;
}

table {
   line-height: 2rem;
}

table .izquierda {
    text-align: start;
}

table .derecha {
    text-align: end;

}

table .centro {
    width: 150px;
}

.img1{
    height: 178px;
}

/* Fin de los estilos de episodeDescription */