/* Nav bar */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #23252b;
    color: #fff;
    align-items: center;
}

.left, ul {
    display: flex;
    align-items: center;
    /* color: #fff;
    text-decoration: none; */
}

.left {
    display: flex;
    list-style: none;
    margin: 0;
}
/* Logo */
svg {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.text-logo {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    
    /*Espaciado*/
    font-size: 10px;
    /*Tamaño */
    line-height: 1.2;
    /*Interlineado*/
    white-space: normal;
}

.text-yellow {
    display: flex;
    flex-direction: column;
    color: #fab818;
}

.right {
    flex: 1; /* Utiliza el espacio disponible para ocupar el ancho restante */
    list-style: none;
    line-height: 72px;
    padding: 0 20px;
    margin: 0;
}

.right a {
    color: #fff;
    text-decoration: none;
}

.right li {
    /* margin-right: 8px;
    margin-left: 25px; */
    display: inline-block;
    margin-right: 20px;
}

.right li:last-child {
    margin-right: 0; /* Elimina margen derecho para evitar espacio extra */
  }

.links {
    display: flex;
    list-style: none;
    margin: 1000;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.navbar-link-black {
    /* line-height: 100%; */
    display: inline-block;
    /*vertical-align: middle; */
    line-height: 72px;
    padding: 0 20px;
}

.navbar-link-black:hover {
    background-color: rgb(27, 27, 27);
    /* padding: 20px; */
}

.navbar-dropdown-content li {
    padding: 15px;
    list-style: none;
}


.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(27, 27, 27);
    min-width: 800px;
    top: 10;
    /* Alinear a la izquierda */
    left: 0; 
    z-index: 1;
}

@media (max-width: 767px) {
    .navbar-dropdown-content {
      min-width: 100%;
      top: auto;
      left: auto;
    }
  }

.navbar-dropdown:hover .navbar-dropdown-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 40%;
}

/* .navbar-dropdown:hover .navbar-dropdown-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
} */

/* .navbar-logos {
    display: flex;
    align-items: center;
} */
/* h5 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
