.slider{
    display: flex;
    flex-direction: column;
}
.contenidoSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 25px;
}
.boxSlider{
    display: inline-flex;
    width: 15%;
    text-decoration: none;
    margin-right: 15px;
}

.slider h3{
    color: white;
    margin-bottom: 1.3rem;
}
.boxData svg{
    fill: white;
}
.boxVisible, .boxInvisible{
    display: flex;
    flex-direction: column;
}
.boxInvisible{
    visibility: hidden;
    position: absolute;
}


figure{
   width: 100%;
   height: 90%;
}
figure img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.boxVisible h4{
   font-size: 13px;
   margin-top: 10px;
   color: white;
}

.boxVisible span{
    font-size: 13px;
    margin-top: 5px;
    color: rgb(149, 149, 149);
}

.slider button{
    height:55px;
    width: 30px;
    background: black;
    border: 1px solid black;
}
.slider button svg{
    fill: white;
    width: 35px;
}
.box{
    margin-right: 0px;
}

.containerButtons{
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
}
.containerButtons button:nth-child(1){
    background: #f47521;
}
.containerButtons button{
    width: 60px;
    height: 5px;
    background: white;
    margin: 0 5px;
}
.containerButtons button:focus{
    background: #f47521;
}