.slider{
    display: flex;
    flex-direction: column;
}
.contenidoSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 25px;
}
.boxSlider{
    display: inline-flex;
    width: 15%;
    text-decoration: none;
    margin-right: 15px;
}

.slider h3{
    color: white;
    margin-bottom: 1.3rem;
}
.boxData svg{
    fill: white;
}
.boxVisible, .boxInvisible{
    display: flex;
    flex-direction: column;
}
.boxInvisible{
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.boxSlider:hover .boxVisible {
    opacity: .2;
    pointer-events: none;
    background-repeat: no-repeat;
}
.boxSlider:hover .boxInvisible {
    opacity: 1;
    pointer-events: auto;
}



figure{
   width: 100%;
   height: 90%;
}
figure img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.boxVisible h4{
   font-size: 13px;
   margin-top: 10px;
   color: white;
}

.boxVisible span{
    font-size: 13px;
    margin-top: 5px;
    color: rgb(149, 149, 149);
}

.slider button{
    height:55px;
    width: 30px;
    background: black;
    border: 1px solid black;
}
.slider button svg{
    fill: white;
    width: 35px;
}
.box{
    margin-right: 0px;
}

.containerButtons{
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
}
.containerButtons button:nth-child(1){
    background: #f47521;
}
.containerButtons button{
    width: 60px;
    height: 5px;
    background: white;
    margin: 0 5px;
}
.containerButtons button:focus{
    background: #f47521;
}

.boxInvisible h4{
    display: inline-flex;
    margin-left: 5px;
    margin-top: 10px;
    color: white;
    font-size: .875rem;
}
.boxData{
    display: inline-flex;
    margin-left: 5px;
    margin-top: 10px;
    color: #dadada;
}
.boxData p{
    width: auto;
    font-size:.875rem;
    margin-right: 5px;
}
.boxData svg{
    width: .875rem;
    margin-right: 5px;
}
.boxTE{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 5px;
    font-size: .875rem;
    color: #a0a0a0;
}
.boxTE span{
    margin-bottom: 2px;
}
.boxDescription{
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        --max-lines: 7;
        display: flex;
        width: 80%;
        max-height: calc(var(--max-lines)*1.125rem);
        overflow: hidden;
        overflow-wrap: break-word;
        white-space: unset;
        word-break: break-word;
        font-size: 5px;
}
.boxIcon{
    display: flex;
    margin-top: 50px;
    width:  1.5rem;    
}
.icon{
    margin-right: 10px;
}
.boxIcon svg{
    width: 1.5rem;
    fill: #f47521;
}